[include]
  path = ~/.gitconfig_private

[http]
  version = HTTP/2
  postBuffer = 1048576000

[core]
  compression = 0
  editor = nvim
  pager = delta

[pack]
  windowMemory = 100m
  packSizeLimit = 100m
  threads = 1
  deltaCacheSize = 512m

[init]
  defaultBranch = main

[advice]
  addIgnoredFile = false

[commit]
  gpgSign = true

[push]
  default = current

[pull]
  rebase = true

[rebase]
  autostash = true

[rerere]
  enabled = true

[delta]
  navigate = true
  light = false

[merge]
  conflictstyle = zdiff3

[diff]
  colorMoved = default
