default_layout "layout"
theme "catpuccin-macchiato"

keybinds {
  shared_except "locked" {
      bind "Ctrl y" {
        LaunchOrFocusPlugin "file:~/.config/zellij/plugins/harpoon.wasm" {
            floating true; move_to_focused_tab true;
        }
      }
  }
}
